.headers
  .left-header
    %p.left-header__name sample-name
    = fa_icon 'cog', class: 'fa'
    = fa_icon 'pencil-square-o', class: 'pencil'
  .right-header
    %p.right-header__group sampleグループ
    %p.right-header__name Member:sample-name
    %a.right-header__btn Edit
.contents
  .left-content
    %p.left-content__group aaaaa
    %p.left-content__group-contents まだメッセージがありません
    %p.left-content__group sampleグループ
    %p.left-content__group-contents まだメッセージがありません
  .main-contents
    .message
      .message-data
        %p.message-data__name sample-name
        %p.message-data__day 2019/02/13(Wed) 14:25:33
      %p.message-text なるほど
    %footer
      .message-box
        %input{type: "text",placeholder: "type a message",class: "message-area"}
        %label.upload-label{for: "upload-icon"}
          = fa_icon 'picture-o', class: 'picture'
          %input{ type: "file", id: "upload-icon"}
        %input{ type: "submit", value: "Send", class: "submit-btn"}
